<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styleini.css">
    <title>Banco Hoja</title>
</head>
<body>
    <div >
        <img src="imagenes/logo_small.png">
    </div>
        <ul class="menu">
        <li>
            <a href="/lusuarios">Usuarios</a>
        </li>
         <li>
            <a href="/lclientes">Clientes</a>
        </li>
        <li>
            <a href="/lcreditos">Creditos</a>
        </li>
        <li>
            <a href="/llineas">Lineas de Creditos</a>
        </li>
        <li>
            <a href="cerrar">Cerrar sesion</a>
        </li>
        <li>
            <p><%=uss%></p>
        </li>
        </ul>


        
            
        
</body>
</html>