<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stylepagpri.css">
    <title>Banco Hoja</title>
    <link rel="shortcut icon" href="imagenes/logoi.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Klee+One&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/beece62d7a.js" crossorigin="anonymous"></script>

</head>
<body>
    <div >
        <img src="imagenes/logo_small.png">
    </div>
        <ul class="menu">
        <li>
            <a href="inicio.html">Inicio</a>
        </li>
         <li>
            <a href="#titu1">Acerca de nosotros</a>
        </li>
        <li>
            <a href="#titu2">Necesidades</a>
        </li>
        <li>
            <a href="#titu3">Productos y servicios</a>
        </li>
        <li>
            <a href="/log">Sucursal virtual</a>
        </li>
        </ul>

  
 
    <footer>
    <section class="pag1">
       <div class="slider">
           <ul>
               <li><img src="imagenes/virtual.jpg" alt=""></li>
               <li><img src="imagenes/manos.jpg" alt=""></li>
               <li><img src="imagenes/servicios.jpg" alt=""></li>
               <li><img src="imagenes/logo_large.png" alt=""></li>
           </ul>
       </div>
    </section>    
    <section class="pag2">
        <h2 class="tit1" id="titu1">ACERCA DE NOSOTROS</h2>
        <div class="parr1">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem reiciendis porro mollitia veritatis recusandae voluptatem, autem architecto assumenda voluptas eligendi sit delectus, pariatur unde voluptates neque provident asperiores nisi omnis.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius, culpa necessitatibus, quisquam quod excepturi ad facilis minima magni repellat suscipit qui aliquid tempora odio placeat quidem libero reprehenderit ullam hic.</p>
        </div>
    </section>
    <section class="conoce">
        <h2 class="titulo" id="titu2">Necesidades </h2>
   
        <div class="container">
            <div class="card">
                <figure>
                    <img src="imagenes/servicioalc.jpg">
                </figure>
                <div class="contenido">
                    <h3>Servicio al cliente</h3>
                    <p>Conoce nuestro modelo de atencion que permite:Administrar tu dinero, empezar tu negocio, solicitar documentos...</p>
                    <a href="info1.html#comienzo">Leer mas</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="imagenes/certificado.png">
                </figure>
                <div class="contenido">
                    <h3>Certificacion</h3>
                    <p>Solicita el certificado de tus productos dentro del banco</p>
                    <a href="info1.html#egip">Leer mas</a>
                </div>
            </div>
    
            <div class="card">
                <figure>
                    <img src="imagenes/reconocimientos.jpg">
                </figure>
                <div class="contenido">
                    <h3>Reconocimientos</h3>
                    <p>Conoce mas ofertas, beneficios exclusivos que tenemos para ti</p>
                    <a href="info1.html#mesop">Leer mas</a>
                </div>
            </div>
        </div>
    

     
        </div>
    
        
    </section>
  
        <section class="pag3">
            <h2 class="titulo" id="titu3">Productos y servicios </h2>
    
            <div class="container">
                <div class="card">
                    <figure>
                        <img src="imagenes/tarjeta.jpg">
                    </figure>
                    <div class="contenido">
                        <h3>Tarjeta</h3>
                        <p>Disfruta de los beneficios que te dan las tarjetas debito y credito del Banco Hoja. </p>
                    </div>
                </div>
        
                <div class="card">
                    <figure>
                        <img src="imagenes/creditos.jpeg">
                    </figure>
                    <div class="contenido">
                        <h3>Creditos</h3>
                        <p>Diferentes formas de pagar con tasas y cuotas preferenciales.</p> 
                    </div>
                </div>
        
                <div class="card">
                    <figure>
                        <img src="imagenes/cuenta.jpg">
                    </figure>
                    <div class="contenido">
                        <h3>Cuentas y ahorro</h3>
                        <p>Maneja tus cuentas de manera facil con productos de ahorro e inversion.</p>
                    </div>
                </div>
            </div>
        
            <div class="container">
                <div class="card">
                    <figure>
                        <img src="imagenes/prestamo.png">
                    </figure>
                    <div class="contenido">
                        <h3>Prestamos y transferencias</h3>
                        <p>Transfiere y financia tus creditos de manera segura con nuestros productos</p>
                    </div>
                </div>
                
         
            </div>
        
            
        </section>
  
    <section class="footer">
    <div class="container_footer">
        <div class="box_footer">
            <div class="logo">
                <img src="imagenes/logo_white_large.png" alt="">
            </div>
            <div class="terms">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim neque magnam esse. Tempora deleniti corrupti ipsam vel voluptatibus officiis, dolores repellendus fugiat repellat vero dolore nulla non velit nihil obcaecati!</p>
            </div>
        </div>
        <div class="box_footer">
            <h2>Soluciones</h2>
            <a href="#">App </a>
            <a href="#">App </a>
            <a href="#">App </a>
        </div>

        <div class="box_footer">
            <h2>Compañia</h2>
            <a href="#">Acerca de  </a>
            <a href="#">Hange zoe </a>
            <a href="https://www.youtube.com/watch?v=yYZialAsgOw">Levi Ackerman </a>
        </div>

        <div class="box_footer">
            <h2>Redes Sociales</h2>
            <a href="#"><i class="fab fa-facebook-square"></i>Facebook</a>
            <a href="#"><i class="fab fa-twitter-square"></i>Twitter</a>
            <a href="#"><i class="fab fa-instagram-square"></i>Instagram</a>
            <a href="#"><i class="fab fa-linkedin"></i>Linkedin</a>
        </div>
    </div>
    <div class="box_copyright"></div>
     <hr>
     <p>Todos los derechos reservados © 2021
     <b>Banco Hoja</b></p>
    </footer>
</section>
    
</body>
</html>